# Ignore configuration files that may contain secrets
config.json
.env

# Ignore Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.env/

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS specific files
.DS_Store
Thumbs.db
